<div class="container">
    <div class="row">
        <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
        <div class="col-md-12">
        </div>
        <div class="col-md-12">
                <div>
                        <p class="page-title">Assign Roll Number
                            <sub>
                                <input type="image" src="/img/collapse.gif" title='Click to Collapse' onclick="return divcollapse('tableid', 'tableid_img')" style="width: 20px;" id="tableid_img">
                            </sub>
                        </p>
                    </div>
                      <div class="panel panel-default" id="tableid">  
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup" >
                           <tr>
                            
                                            <td style="width: 11%">
                                                <label>
                                                    Academic Year
                                                    <font class='mandatory-field' style="color: red";>*</font>
                                                </label>
                                            </td>
                                            <td style="width:15%">
                                                <select ng-model="AcademicYearId"  class="form-control" ng-required="true" ng-change="AcademicYearBasedCourseFunction();CourseClearFunction()">
                                                    <option value="0">Select</option>
                                                    <option ng-repeat="sel in AcademicYearList" 
                                                    ng-selected="AcademicYearId==sel.id" value="{{sel.id}}">{{sel.academicyear}}</option>
                                                </select> 
                                            </td>
                                            <td width="8%">
                                                <label>Course
                                                    <font class='mandatory-field' style="color: red";>*</font>
                                                </label>
                                            </td>
                                            <td width="15%">
                                               <select ng-model="CourseId" class="form-control" ng-required="true" ng-change="CourseBasedSectionFunction();SectionClearFunction()">
                                                    <option value="0">Select</option>
                                                    <option ng-repeat="sel in Filter_Courselist" 
                                                    ng-selected="CourseId==sel.id" value="{{sel.id}}">{{sel.course}}</option>
                                                </select>   
                                            </td>
                                      
                                <td width="8%">
                                        <label>Medium
                                            <font class='mandatory-field' style="color: red";>*</font>
                                        </label>
                                    </td>
                                    <td width="15%">
                                       <select ng-model="MediumId"  class="form-control" ng-required="true">
                                            <option value="">Select</option>
                                            <option ng-repeat="sel in Mediumlist" 
                                            ng-selected="MediumId==sel.id" value="{{sel.id}}">{{sel.mediumname}}</option>
                                        </select>   
                                    </td>
                                            <td width="8%">
                                                <label>Section
                                                    <font class='mandatory-field' style="color: red";>*</font>
                                                </label>
                                            </td>
                                            <td width="15%">
                                               <select ng-model="SectionId" class="form-control" ng-required="true">
                                                    <option value="">Select</option>
                                                    <option ng-repeat="sel in CourseBasedSectionList" 
                                                    ng-selected="SectionId==sel.id" value="{{sel.id}}">{{sel.sectionname}}</option>
                                                </select>   
                                            </td>   
                                            <!-- <td width="10%">
                                                <label>Order By</label>
                                            </td>
                                            <td width="15%">
                                               <select class="form-control" >
                                                    <option value="0">All</option>
                                                    <option ng-repeat="sel in SectionList" ng-selected="SectionId==sel.Id" value="{{sel.Id}}"> {{sel.StudentName}} StudentName </option>
                                                    <option value="0">StudentId</option>
                                                </select>   
                                            </td>              -->
                                <td >
                                    <button type="button" class="btn btn-small"  title="Click to List the Records" ng-click="assignrollnumberlist()">Go</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <table st-table="emptydata" style="width: 100%" st-safe-src="studentlist" class="table table-striped table-bordered">
                <thead>
                    <tr style="text-align: center">
                            <!-- <th st-ratio="5">Select -->
                         <th st-ratio="5">
                         <input type="checkbox" ng-model="master" ng-change="isSelectAll()"/></th>
                        <th st-ratio="7" st-sort="rollnumber">Roll Number</th>
                        <th st-ratio="10" st-sort="studentid">Student Id</th>
                      
                        <th st-ratio="12" st-sort="studentname">Student Name</th>
                        <th st-ratio="10" st-sort="course">Course</th>
                        <!-- <th st-ratio="12" st-sort="FatherName">FatherName</th> -->
                        <th st-ratio="10" st-sort="gender">Gender</th>
                        <th st-ratio="12" st-sort="dob">DOB</th>
                        <!-- <th st-ratio="11" st-sort="FirstLanguageName[$index]">1stLanguage</th>
                        <th st-ratio="11" st-sort="SecondLanguageName[$index]">2ndLanguage</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="flag==0 && studentlist.length==0">
                        <td colspan="10" class="text-center">
                            No Records Found
                        </td>
                    </tr>
                    
                    <tr ng-repeat="row in emptydata">
                        <td style="text-align: center"><input type="checkbox" ng-model="row.selectedstudent"/></td>
                            <!-- <input type="checkbox" id="chkCodeudor" ng-model="RollNumberList"> -->
                        <!-- <td style="text-align: right" input type="text"> <input type="text" ng-model="RollNumber" ng-init="RollNumber"/></td>ng-init="RollNumberList[$index] = $index+1" -->
                        <!-- <td style="text-align: right">{{((current_page-1)*page_size)+$index+1}}</td> -->
                        <td style="text-align: left" >
                            <!-- <input type="text" ng-model="RollNumberList[$index]" ng-init="RollNumberList[$index] = $index+1" onkeypress=" NoSpecChar(this.RollNumberList)"> -->
                            <input type="textbox" ng-model="row.RollNumber"  ng-maxlength="50" maxlength="50" onkeypress=" NoSpecChar(this.RollNumber)">

                        
                        </td>
                        <td style="text-align: left">{{row.studentid}}</td>
                        <td style="text-align: left"> <div class="textwrap">{{row.studentname}}</div></td>
                        <td style="text-align: left">{{row.course}}</td>
                        <!-- <td style="text-align: left"> {{row.FatherName}}</td> -->
                        <td style="text-align: left">{{row.gender}}</td>
                        <td style="text-align: left">{{row.dob|date:'dd-MMM-yyyy'}}</td>
                        <!-- <td style="text-align: left">{{FirstLanguageName[$index]}}
                               
                        </td>
                        <td style="text-align: left">{{SecondLanguageName[$index]}}</td>                         -->
                        <!-- <td> 
                            <a ng-click="EditLanguageModal(studentdetails.Id)" class="btn btn-autosize ">Assign Language</a>
                        </td> -->
                       
                    </tr>
                </tbody>
                <!-- <tfoot ng-show="studentlist.length >10">
                        <tr>
                            <td colspan="10" class="text-center">
                                <items-page items-On-Page ="itemsOnPage" total-Items="studentlist.length"></items-page> items per page
                                <div st-items-by-page="itemsOnPage" st-page-change="rembemberCurrentPage(newPage)" st-pagination="" st-template="Views/Administration/pagination.custom.html"></div>
                               
                
                            </td>
                        </tr>
                    </tfoot> -->
            </table>
            <div style="text-align: center;">
                <!-- <input type="button" value="Get Value Using Class" id="buttonClass"> 
                <input type="button" value="Get Value Using Parent Tag" id="buttonParent"> -->
                    <a ng-click="AddEdit()" title="Click to Save the Records"  class="btn btn-save">Save</a>
                    <!-- <a id="assignlan" class="btn btn-autosize" title="Click to Assign the Language"  ng-click="RollLanguageassign()">Assign Language</a> -->
                    <!-- ng-click="EditLanguageModal(studentdetails.Id)" -->
                    <!-- ng-click="RemoveQualification_Item()"  -->
                </div> 
        </div>
    </div>
</div>


<div id="AssignRollNumberAddModal" class="modal fade"  role="dialog">
        <div class="modal-dialog" style="width: 25%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Assign Language Details</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" style="font-size:small">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">
                            <tr>
                                <td width= 5%>
                                    <label>1st Language<font class='mandatory-field' style="color: red";>*</font></label>
                                </td>
                                <!-- <td style="width:10%">
                                    <input type="text" class="form-control" id="Text2" ng-model="FirstLanguage" ng-init="FirstLanguage =''" ng-maxlength="50" maxlength="50" ng-required="true" onkeypress=" varifychar(this.FirstLanguage)">
                                </td> -->
                                <!-- ng-model="FirstLanguageId" -->
                                 <td width= 10%>
                                <select ng-model="FirstLanguage"  class="form-control">
                                        <option value="">Select</option>
                                        <option ng-repeat="sel in Languagelist" ng-selected="FirstLanguage==sel.Id" value="{{sel.Id}}">{{sel.Language}}</option>
                                    </select> 
                                </td>
                            </tr>
                            <tr>
                                    <td width= 5%>
                                        <label>2nd Language<font class='mandatory-field' style="color: red";>*</font></label>
                                    </td>
                                    <td style="width:10%">
                                        <!-- <input type="text" class="form-control" id="Text2" ng-model="SecondLanguage" ng-init="SecondLanguage =''" ng-maxlength="50" maxlength="50" ng-required="true" onkeypress=" varifychar(this.SecondLanguage)">
                                        </td> -->
                                  <!-- ng-model="SecondLanguageId"  -->
                                  
                                    <select ng-model="SecondLanguage" class="form-control">
                                            <option value="">Select</option>
                                            <option ng-repeat="sel in Languagelist" ng-selected="SecondLanguage==sel.Id" value="{{sel.Id}}">{{sel.Language}}</option>
                                        </select>   
                                    </td>  
                                    </td>
                                    </tr>                       
                                 </table>
                    </form>
                </div>
                <div class="modal-footer" style="text-align:center;">
                    <button type="button" class="btn btn-save" title="Click to Assign " ng-click="AssignRollNumber_AddEdit()">Assign</button>
                    <button type="button" class="btn  btn-save" title="Click to Cancel"  ng-click="CancelPopup()">Cancel</button>
                </div>
            
            </div>
        </div>
     
    </div>



