<style>
    #ABQRCodediv {
        display: none;
        width: 50%;
        margin-top: 0px;
        /* text-align: center; */
    }
    #printbtn {
        display: none;
        margin-top: 10px;
    }
    @page {
        size: a4;
    }
    @media print {
        .heading,#sidebar,.header {
            display: none;
        
        }
        #ABQRCodediv {
            display: block;
            margin: 0;
            margin-top: -60px;
            margin-left: 24%;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
        body {
            overflow-y: hidden;
        }
    }
</style>
<div class="container">
    <div class="row" ng-init="" >
        <div class="col-md-12">
            <!-- <p class="page-title nopadding">Generate Hall Ticket</p> -->
        </div>
        <div class="col-md-12 heading">
              <div><p class="page-title">Answer Book Generate<sub><input type="image" src="/img/collapse.gif" title='Click to Collapse' onclick="return divcollapse('tableid', 'tableid_img')" style="width: 20px;" id="tableid_img"></sub></p></div>
                        <div class="panel panel-default" id="tableid"> 
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">
                                <tr> 
                                    <td width="16%">
                                                <label>Academic Year<font class='mandatory-field' style="color: red";>*</font></label>
                                            </td>
                                            <td width="16%">
                                               <select ng-model="AcademicYearId" class="form-control" ng-required="true" style="width:190px;" ng-change="AcademicYearBasedExamNameFunction();ExamNameClearFunction()">
                                                    <option value="">Select</option>
                                                    <option ng-repeat="sel in AcademicYearList" ng-selected="AcademicYearId==sel.id" value="{{sel.id}}">{{sel.academicyear}}</option>
                                                </select>   
                                            </td>

                                            <td>
                                                <label>Exam Name<font class='mandatory-field' style="color: red";>*</font></label>
                                            </td>
                                            <td>
                                               <select ng-model="ExamNameId"  class="form-control" ng-required="true" style="width:190px;">
                                                    <option value="0">Select</option>
                                                    <option ng-repeat="sel in ExamNameList" value="{{sel.examnameid}}">{{sel.examname}}</option>
                                                </select>   
                                            </td>
                                         
                <td >
                    <button type="button" class="btn btn-small" title="Click to Generate QRCode" ng-click="ABQrcodeList();">Generate QRCode</button>
                    <button type="button" id="printbtn" class="btn btn-small" title="Click to Print QRCode" onclick="window.print()">Print QRCode</button>
                </td


                                                </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-12" id="ABQRCodediv">
        <!-- {{QRCodeList}} -->
        <div class="row" style="width: 21cm !important;height: 29.7cm !important;" ng-repeat="QRCode in QRCodeList">
            <di class="col-md-4">
                <p>
                    <img src="https://chart.googleapis.com/chart?chs=90x90&cht=qr&chl={{QRCode.QRCode}}&choe=UTF-8" title="Patient Label"/>
                </p>
            </di>
        </div>
        <!-- <table st-table="emptydata" style="width: 100%" st-safe-src="QRCodeList" class="table table-striped table-bordered">
            </thead>
            <tbody>   
                <tr ng-repeat="QRCode in emptydata">
                        <td id="content" value="{{QRCode.QRCode}}">
                            {{QRCode.QRCode}}
                        </td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>


<script>
$(document).ready(function () {     
    $("#radio_1").attr('checked', 'checked');  
    });

    $('#CheckAll').click(function () {
    ($(this).is(":checked") ? $('.checkboxes').prop("checked", true): $('.checkboxes').prop("checked", false))
        });

</script>