<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script> -->

<div class="mainbody container-fluid"  ng-init="AcademicYearBasedCourseFunction();CourseBasedExamNameFunction();ExamBasedSubjectforAddmodal();ExamBasedSubjectforList_Print();Question_PrintPDF_List()">
    <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
    <p ng-if="Pagetype==1" class="page-title">Question Paper Generation</p>
    <p ng-if="Pagetype==2" class="page-title">Question Paper Print</p>
        <div class="panel panel-default" id="QuestionBank">
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">
                    <tr>
                        <td width="12%">
                            <label>
                                Academic Year
                                <font class="mandatory-field" style="color: red;">*</font></label>
                        </td>
                        <td width="15%">
                            <select ng-model="QBAcademicYearId"  class="form-control" ng-required="true"ng-change="AcademicYearBasedCourseFunction();CourseClearFunction()">
                            <option value="0">Select</option>
                            <option ng-repeat="sel in AcademicYearList" ng-selected="QBAcademicYearId==sel.id" value="{{sel.id}}">{{sel.academicyear}}</option>
                            </select>
                        </td>
                        <td width="10%">
                            <label>
                                    Course
                                    <font class="mandatory-field" style="color: red;">*</font></label>
                        </td>
                        <td width="15%">
                            <select ng-model="QBCourseId" class="form-control" ng-required="true" ng-change="CourseBasedExamNameFunction();ExamClearfunction()">
                            <option value="0">Select</option>
                            <option ng-repeat="sel in Courselist" ng-selected="QBCourseId==sel.id" value="{{sel.id}}">{{sel.course}}</option>
                            </select>
                        </td> 
                        <td width="10%">
                                <label>
                                    Exam Name
                                    <font class="mandatory-field" style="color: red;">*</font></label>
                            </td>
                        <td>
                            <select ng-model="QBExamNameId"  class="form-control" ng-required="true" ng-change="ExamBasedSubjectforList_Print()">
                            <option value="0">Select</option>
                            <option ng-repeat="sel in ExamNameList" ng-selected="QBExamNameId==sel.examnameid" value="{{sel.examnameid}}">{{sel.examname}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="10%">
                            <label>
                            Subject<font class="mandatory-field" style="color: red;">*</font></label>
                        </td>
                        <td>
                            <select ng-model="QBSubjectId"  class="form-control" ng-required="true" ng-disabled="TodaySubjectListObj.length==1">
                                <option value="0">Select</option>
                                <option ng-repeat="sel in SubjectListObj" ng-selected="QBSubjectId==sel.id"  value="{{sel.id}}">{{sel.subjectname}}</option>
                                </select>
                        </td>
                        <td width="10%">
                            <label>Paper Type
                                <font class="mandatory-field" style="color: red;">*</font></label>
                        </td>
                        <td>
                        <select ng-model="PaperTypeId"  class="form-control" ng-required="true">
                                <option value="">Select</option>
                                <option ng-repeat="sel in PaperTypeList" ng-selected="PaperTypeId==sel.id" value="{{sel.id}}">{{sel.papertype}}</option>
                                </select>
                        </td>
                        <td width="10%"> <button type="button" class="btn btn-small"  ng-click="QuestionBanklist()">Go</button>
                         
                        </td>
                        <td width="15%"></td>
                    </tr>                
                </table>
                </form>
            </div>
        </div>
        <p class="page-title" ng-if="Pagetype==1 ">Question Bank</p>
         <p >{{ clock}}</p> 
         <!-- <p ng-if="GenerateCheck_tag ==0 || PrintCheck_tag == 0 ">{{Message}}</p>  -->
        <p ng-if="Pagetype==1 && GenerateCheck_tag ==1">Starting Time to Generate Question Paper: {{Exam_StartTime}} </p>   
        <p ng-if="Pagetype==1 && GenerateCheck_tag ==1">{{Message}} </p>
        <p ng-if="Pagetype==1 && GenerateCheck_tag ==1">Ending Time to Generate Question Paper: {{Exam_EndTime}} </p>

        
        <p ng-if="Pagetype==2  && PrintCheck_tag ==1">Starting Time to Print Question Paper: {{Exam_StartTime}} </p>   
        <p ng-if="Pagetype==2  && PrintCheck_tag ==1">{{Message}} </p>
        <p ng-if="Pagetype==2  && PrintCheck_tag ==2">{{Message2}} </p>
        <p ng-if="Pagetype==2  && PrintCheck_tag ==1">Ending Time to Print Question Paper: {{Exam_EndTime}} </p>

         <table  st-table="row" style="width: 100%" class="table table-striped table-bordered"  ng-if="Pagetype==1">
            <thead>
                    <tr style="text-align: center">
                        <th st-ratio="5">
                                #</th>
                        <!-- <th st-ratio="9">
                                AcademicYear</th> -->
                            <th st-ratio="8" st-sort="Course">
                                Course</th>
                        <th st-ratio="10" st-sort="MediumName">
                                Medium</th>
                        <th st-ratio="10" st-sort="ExamName">
                                Exam Name</th>
                        <th st-ratio="10" st-sort="SubjectName">
                                Subject</th>
                        <th st-ratio="20" st-sort="PaperType">
                                PaperType</th>
                        <th st-ratio="20" st-sort="EmployeeName">
                                Prepared By</th>
                    </tr>
            </thead>
           <tbody>
                <tr ng-if="row.length==0">
                        <td colspan="9" ng-if="Pagetype==1" class="text-center" >
                            No Data to Generate 
                        </td>
                        <td ng-if="Pagetype==2" colspan="9" class="text-center">
                            No Data to Print  
                        </td>
                </tr>
                <tr ng-repeat="QuestionBank in row">
                    <td style="text-align: right">{{((current_page-1)*page_size)+$index+1}}</td>
                    <!-- <td style="text-align: left">{{QuestionBank.AcademicYear}}</td> -->
                    <td style="text-align: left">{{QuestionBank.course}} </td> 
                    <td style="text-align: left">{{QuestionBank.mediumname}}</td>
                    <td style="text-align: left">{{QuestionBank.examname}}</td>
                    <td style="text-align: left">{{QuestionBank.subjectname}}</td>
                    <td style="text-align: left">{{QuestionBank.papertype}}</td>
                    <td style="text-align: left">{{QuestionBank.employeename}}</td>         
                </tr>
            </tbody>
        </table>
        <table ng-hide="Printpdf_tag == 0" style="width: 100%;max-height: 500px;" st-table="Print_file_Url" class="table table-striped table-bordered" ng-if="Pagetype==2 " >	
            <thead>	
                <tr style="text-align: center">	
                    <th st-ratio="5">	
                            #</th>	
                    <th st-ratio="20">	
                            Subject </th>	
                    <th st-ratio="10">	
                            URL</th>	
                            <th st-ratio="8">	
                                Action</th>	
                   	
                </tr>	
            </thead>	
           <tbody>	
                <tr ng-if="Print_file_Url.length==0">	
                    <td colspan="9" ng-if="Pagetype==1" class="text-center" >	
                        No Data to Generate 	
                    </td>	
                    <td ng-if="Pagetype==2" colspan="9" class="text-center">	
                        No Data to Print  	
                    </td>	
                </tr>	
                <tr ng-repeat="QuestionBank in Print_file_Url">	
                    <td style="text-align: right">{{((current_page-1)*page_size)+$index+1}}</td>	
                    <td style="text-align: left">{{QuestionBank.subjectname}} </td> 	
                    <td style="text-align: left">{{QuestionBank.filename}}</td>	
                    <td style="text-align: center">	
                      	
                        <button type="button" class="btn btn-small" ng-if="Pagetype==2 && Printpdf_tag ==1 &&  timeout == 0" ng-click="QuestionPaper_PDFOpen(QuestionBank)">Print PDF</button>	
                        </td>                                                              	
                </tr>	
            </tbody>	
            	
        </table>
        <p ng-hide="Printpdf_tag == 1" class="page-title" ng-if="Pagetype==2 ">Question Paper</p>
        <!-- <table ng-hide="Printpdf_tag == 1" style="width: 100%;max-height: 500px;" st-table="QuestionSectionList" class="table table-striped table-bordered" ng-if="Pagetype==2 " >
            <thead>
                <tr style="text-align: center">
                    <th st-ratio="5">
                            #</th>
                    <th st-ratio="20">
                            Section</th>
                    <th st-ratio="10">
                            Question #</th>
                    <th st-ratio="35">
                            Question</th>
                    <th st-ratio="35">
                            Question Hindi</th>
                </tr>
            </thead>
           <tbody>
                <tr ng-if="QuestionSectionList.length==0">
                    <td colspan="9" ng-if="Pagetype==1" class="text-center" >
                        No Data to Generate 
                    </td>
                    <td ng-if="Pagetype==2" colspan="9" class="text-center">
                        No Data to Print  
                    </td>
                </tr>
                <tr ng-repeat="QuestionBank in QuestionSectionList">
                    <td style="text-align: right">{{((current_page-1)*page_size)+$index+1}}</td>
                    <td style="text-align: left">{{QuestionBank.QBQuestionPaperSection}} </td> 
                    <td style="text-align: left">{{QuestionBank.QuestionNo}}</td>
                    <td style="text-align: left"><p ng-bind-html="QuestionBank.Questions">
                    </p>  </td>         
                    <td style="text-align: left"><p ng-bind-html="QuestionBank.QuestionHindi">
                    </p>  </td>                                
                </tr>
            </tbody>
            
        </table>
        <br/> -->
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="javascript:" ng-click="GenerateQP()" class="btn btn-autosize addnew mb-15" ng-if="Pagetype==1 && GenerateCheck_tag ==1 &&  timeout == 0">Generate</a>
                <!-- <a href="javascript:" ng-click="PrintQP()" class="btn btn-autosize addnew mb-15" ng-if="Pagetype==2 && PrintCheck_tag ==1 &&  timeout == 0">Print</a> -->
                <button type="button" class="btn  btn-save" ng-if="Pagetype==2 && PrintCheck_tag ==1 &&  timeout == 0" onclick="printData()">Print</button>
            </div>
        </div>
        <br/>
        <div class="modal-body" id="printTable" ng-if="Pagetype==2 && QuestionSectionList.length>0">
                    
            <div class="admit_header">
                <div class="row print_head" style="margin-left: 69px;line-height: 10px !important;">
                    <div>
                        <h4 style="text-align: center; margin-top: 0px !important;margin-bottom: 0px !important;padding: 0px !important;">MADHYA PRADESH NURSES REGISTRATION COUNCIL BHOPAL</h4>
                        <h5 style="text-align: center;  margin-top: 0px !important;margin-bottom: 0px !important;padding: 0px !important;">MAIN EXAM June 2021</h5>
                        <h5 style="text-align: center;  margin-top: 0px !important;margin-bottom: 0px !important;padding: 0px !important;">Admit Card G.N.M. NEW First Year</h5>
                        <h5 style="text-align: center;  margin-top: 0px !important;margin-bottom: 0px !important;padding: 0px !important;">Subject: {{PrintSubjectName}}</h5>
                        <!-- <p style="text-align: center;" id="qplogo"><img src="/img/mpnrclogo.jpeg" style="text-align: center;width:150px; height: 200px" alt="MPNRC"></p> -->
                    </div>
                </div>
            </div>
            <form class="form-horizontal" role="form" style="font-size:small">
                <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">
                    <tr ng-repeat="question in QuestionSectionList">
                        <td style="width: 100%" ng-if="question.id==0 && question.qbc_id==0">
                            <div class="row">
                                <div class="col-md-6">
                                    Time: 3 Hours ] <br/>
                                    {{question.qbquestionpapersection}}
                                    
                                </div>
                                <div class="col-md-6" style="text-align: right;">
                                    [M. M. : {{question.totalmarks}} 
                                    
                                </div>
                            </div>
                        </td>
                        <td style="width: 100%" ng-if="question.Id>0 && question.qbc_id==0">
                            <div class="row">
                                <div class="col-md-6">
                                    <br/>
                                    {{question.qbquestionpapersection}}
                                    
                                </div>
                                <div class="col-md-6" style="text-align: right;">
                                    ({{question.totalmarks}} marks)
                                    
                                </div>
                            </div>
                            </td>
                        <td style="width: 100%" ng-if="question.qbc_id>0">
                            <div class="row">
                                <div class="col-md-12">
                                    {{question.questionno}}.&nbsp;<p ng-bind-html="question.questions">
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p ng-bind-html="question.questionhindi">
                                    </p>
                                </div>
                            </div>
                            </td>
                    </tr>
                    
                </table>
                <hr style="width:25%">
            </form>
        </div>

    <!-- Question Bank View Modal -->
    <div id="QuestionPaperPrintModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:60%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Question Paper</h4>
                </div>
                <div class="modal-body" id="printTable">
                    
                    <div class="admit_header">
                        <div class="row" style="margin-left: 69px;">
                            <div>
                                <h4 style="text-align: center;">MADHYA PRADESH NURSES REGISTRATION COUNCIL BHOPAL</h4>
                                <h5 style="text-align: center;">EXAMINATION SESSION JUN 2021, Regular</h5>
                                <h5 style="text-align: center;">Admit Card G.N.M. NEW Third Year</h5>
                                <h5 style="text-align: center;">Subject: {{PrintSubjectName}}</h5>
                                <p style="text-align: center;" id="qplogo"><img src="/img/mpnrclogo.jpeg" style="text-align: center;width:150px; height: 200px" alt="MPNRC"></p>
                               
                            </div>
                        </div>
                    </div>
                    <form class="form-horizontal" role="form" style="font-size:small">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">
                            <tr ng-repeat="question in QuestionSectionList">
                                <td style="width: 100%" ng-if="question.qbc_id==0">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{question.qbquestionpapersection}}
                                            </p>
                                        </div>
                                        <div class="col-md-6" style="text-align: right;">
                                            ({{question.totalmarks}} marks)
                                            </p>
                                        </div>
                                    </div>
                                    </td>
                                <td style="width: 100%" ng-if="question.qbc_id>0">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{question.questionno}}.&nbsp;<p ng-bind-html="question.questions">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p ng-bind-html="question.questionhindi">
                                            </p>
                                        </div>
                                    </div>
                                    </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div
                 class="modal-footer" style="text-align:center;">
                    <button type="button" class="btn  btn-save" onclick="printData()">Print</button>
                    <button type="button" class="btn  btn-save" ng-click="CancelPrintPopup()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

        <!-- Question Bank View Modal -->
        <div id="QuestionPaperPrint_PDFModal" class="modal fade" role="dialog">
            <div class="modal-dialog" style="width:60%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Question Paper</h4>
                    </div>
                    <div class="modal-body" id="printpdfTable">
                       
                        <embed src={{Print_File_URL}} width="800px" height="2100px" />
                    </div>
                    <div
                     class="modal-footer" style="text-align:center;">
                        <!-- <button type="button" class="btn  btn-save" onclick="printpdfData()">Print</button> -->
                        <button type="button" class="btn  btn-save" ng-click="CancelPrint_PdfPopup()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    <script>
        function printData()
        {
            var divToPrint=document.getElementById("printTable");
            newWin= window.open("");

            newWin.document.write(divToPrint.outerHTML);
            newWin.print();
            newWin.close();
        }
        function printpdfData()
        {
            var divToPrint=document.getElementById("printpdfTable");
            newWin= window.open("");

            newWin.document.write(divToPrint.outerHTML);
            newWin.print();
            newWin.close();
        }
    </script>
<style>
      
@page {
    size: A4;
    margin: 0;
  }
  
@media print {
    #qplogo {
        display: block ;    
    }
}
    
.print_head h4, .print_head h5 { line-height: 1.1; margin: 0px 0px !important; 
}
</style>