    <div class="container header_container">
        
        <div class="row" ng-init="CourseBasedSectionFunction();CourseBasedExamNameFunction();ExamBasedSubject()" >
            <div class="col-md-12">
                <!-- <p class="page-title nopadding">Generate Hall Ticket</p> -->
            </div>
            <div class="col-md-12">
                  <div><p class="page-title">Print Hall Ticket<sub><input type="image" src="/img/collapse.gif" title='Click to Collapse' onclick="return divcollapse('tableid', 'tableid_img')" style="width: 20px;" id="tableid_img"></sub></p></div>
                            <div class="panel panel-default" id="tableid"> 
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">
                                    <tr> 
                                        <td width="16%">
                                                    <label>Academic Year<font class='mandatory-field' style="color: red";>*</font></label>
                                                </td>
                                                <td width="16%">
                                                   <select ng-model="AcademicYearId" class="form-control" ng-required="true" style="width:190px;" ng-change="AcademicYearBasedCourseFunction();CourseClearFunction()">
                                                        <option value="">Select</option>
                                                        <option ng-repeat="sel in AcademicYearList" ng-selected="AcademicYearId==sel.id" value="{{sel.id}}">{{sel.academicyear}}</option>
                                                    </select>   
                                                </td>
                                                <td width="16%">
                                                        <label>Course<font class='mandatory-field' style="color: red";>*</font></label>
                                                    </td>
                                                    <td width="16%">
                                                       <select ng-model="CourseId" class="form-control" ng-required="true" ng-change="CourseBasedSectionFunction();CourseBasedExamNameFunction();ExamNameClearFunction()">
                                                            <option value="">Select</option>
                                                            <option ng-repeat="sel in Courselist" ng-selected="CourseId==sel.id" value="{{sel.id}}">{{sel.course}}</option>
                                                        </select>   
                                                    </td>
                                                    
                                                    </tr>
                                                    <tr> <td>
                                                                    <label>Exam Name<font class='mandatory-field' style="color: red";>*</font></label>
                                                                </td>
                                                                <td>
                                                                   <select ng-model="ExamNameId"  class="form-control" ng-required="true" style="width:190px;" ng-change="ExamBasedSubject();SubjectClearfunction()">
                                                                        <option value="0">Select</option>
                                                                        <!-- <option ng-if="CourseId>0" ng-repeat="sel in CourseExamList  | filter:{ CourseId:CourseId }" ng-selected="ExamNameId==sel.Id" value="{{sel.Id}}">{{sel.ExamName}}</option> -->
                                                                        <option ng-repeat="sel in ExamNameList" ng-selected="ExamNameId==sel.id"
                                                                        value="{{sel.examnameid}}">{{sel.examname}}</option>
                                                                    </select>   
                                                                </td>
                                                             
                                    <td >
                                        <button type="button" class="btn btn-small" title="Click to List the Records" ng-click="PrintHallTicketListSearch();PrintHallTicketListSearch2();">Go</button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table st-table="emptydata" style="width: 100%" st-safe-src="PrintableHallTicketList" class="table table-striped table-bordered">
                    <thead>
                        <tr style="text-align: center">
                            <th st-ratio="10" st-sort="StudentId">Student Id</th>
                            <th st-ratio="15" st-sort="StudentName">Student Name</th>
                            <th st-ratio="10" st-sort="RollNumber">Roll Number</th>
                            <th st-ratio="10" st-sort="Gender">Gender</th>
                            <th st-ratio="10" st-sort="FatherName">Father Name</th>
                            <th st-ratio="10" st-sort="SMobileNumber">Mobile Number</th>
                            <th st-ratio="10" st-sort="">Action</th>
                         
                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr ng-repeat="StudentName in PrintableHallTicketList">                 
                                <td style="text-align: left">{{StudentName.studentid}}</td>
                                <td style="text-align: left">{{StudentName.studentname}}</td>
                                <td style="text-align: left">{{StudentName.rollnumber}}</td>
                                <td style="text-align: left">{{StudentName.gender}}</td>
                                <td style="text-align: left">{{StudentName.fathername}}</td>                               
                                <td style="text-align: left">{{StudentName.smobilenumber}}</td>
                                <td style="text-align: center">
                                    <a class="btn btn-autosize" title="Print" ng-click="previewHallTicket(StudentName.HT_Id)" target="_blank"><i class="fa fa-print" aria-hidden="true"></i></a>
                                </td>
                        </tr>
                    </tbody>
                    <tfoot ng-show="PrintableHallTicketList.length >10">
                        <tr>
                            <td colspan="10" class="text-center">
                                <items-page items-On-Page ="itemsOnPage" total-Items="PrintableHallTicketList.length"></items-page> items per page
                                <div st-items-by-page="itemsOnPage" st-page-change="rembemberCurrentPage(newPage)" st-pagination="" st-template="Views/Administration/pagination.custom.html"></div>
                                <!--<items-page items-On-Page ="itemsOnPage" total-Items="pagetotalSize"></items-page>-->
                
                            </td>
                        </tr>
                    </tfoot>
                </table>
                

                <div style="text-align: center;">
                        <a onclick="window.print()" title="Click to Generate  the Records" class="btn btn-autosize">Print</a>
                     
                    </div> 
            </div>
        </div>
    </div>
    


        <div class="page"  >
            <div class="page_data" ng-repeat="StudentName in PrintHallTicketList1">
                <div class="admit_header">
                    <h4>MADHYA PRADESH NURSES REGISTRATION COUNCIL, BHOPAL</h4>
                    <h5>EXAMINATION SESSION {{StudentName.academicyear}}, Regular</h5>
                    <h5>Admit Card For {{StudentName.course}}</h5>
                    <p style="margin: 0 0 5px;">
                        <img src="https://chart.googleapis.com/chart?chs=90x90&cht=qr&chl={{StudentName.QRCode}}&choe=UTF-8" title="Patient Label"/>
                    </p>
                </div>
                <div class="admit_details">
                    <table>
                        <tr>
                            <th>Roll No.</th>
                            <td>{{StudentName.rollnumber}}</td>
                            <th>Enrollment No.</th>
                            <td>{{StudentName.enrollmentnumber}}</td>
                            <td rowspan="5" style="text-align: center;">
                                <img src="Uploads/{{StudentName.StudentPhoto}}" style="text-align: center; width:150px;margin: 0 auto;" alt="Student Image"><br>
                                <p style="margin-top: 30px;text-align: center;" class="sign">SIGNATURE OF THE CANDIDATE</p>
                            </td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{StudentName.studentname}}</td>
                            <th>Date of Birth</th>
                            <td>{{StudentName.dob | date : "dd-MM-y"}}</td>
                        </tr>
                        <tr>
                            <th>Father's Name</th>
                            <td>{{StudentName.fathername}}</td>
                            <th>Category</th>
                            <td>{{StudentName.castename}}</td>
                        </tr>
                        <tr>
                            <th>Exam Centre</th>
                            <td>{{StudentName.center_name}}</td>
                            <th>Exam Time</th>
                            <td>9:00 to 12:00</td>
                        </tr>
                        <tr>
                            <th>Training Centre</th>
                            <td>{{StudentName.institutionprintname}}</td>
                            <th>Medium</th>
                            <td>{{StudentName.mediumname}}</td>
                        </tr>
                        
                    </table>
            
                </div>
                <div class="admit_papers_details">
                    <table>
                        <tr>
                            <th>Subject</th>
                            <th>Type</th>
                            <th>Date Of Exam</th>
                        </tr>
                        <tr ng-repeat="SubjectName in PrintHallTicketList2">
                            <td>{{ SubjectName.subjectname}}</td>
                            <td>{{ SubjectName.subjecttype}}</td>
                            <td>{{SubjectName.examdate | date : "dd/MM/y" }}</td>
                        </tr>
                    </table>
            
                </div>
                <div class="admit_notes">
                    <p>&nbsp; Note:</p>
                    <ol>
                        <li>Students must be in full uniform in the examination hall.</li>
                        <li>Electronic items not permitted in the examination hall.</li>
                        <li>Before entering the examination hall, tally the roll number, admit card and valid ID proof. If you find any difference, Inform immediately to Centre Superintendent and Observer and take necessary action/decision and inform Madhya Pradesh Nurses Registration Council, Bhopal on phone no. 0755-2770047. </li>
                        <li>In Case if a candidate is caught red handed using unfair means, then the Invigilator or Central Superintendent should fill up the UFM form approved by MPNRC, Bhopal and inform Nursing Council about the action/decision taken regarding that matter.</li>
                        <li>Wearing of mask is mandatory for all students. Student without mask will not be allowed to enter the examination hall.</li>
                        <li>Students have to follow COVID-19 norms of social distancing.</li>
                        <li>Students bring their own hand sanitizers.</li>
                    </ol>
                </div>
                <div class="admit_footer">
                    <div class="main">
                        <div class="column1">
                            <h4>
                                PRINCIPAL <br>
                                {{StudentName.institutionprintname}}
                            </h4>
                        </div>
                        <div class="column2">
                           <h4>
                            REGISTRAR, <br>
                            MADHYA PRADESH NURSES REGISTRATION COUNCIL,
                            BHOPAL(M.P.) 
                           </h4>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div>
    </div> -->
    <style>
        .page {

            width: 100%;
            margin: 0 auto;

        }
        .page_data {
            display: none;
            min-height: 29.7cm;
        }
        .admit_header {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
        }
        .admit_details {
            width: 100%;
            margin: 0 auto;
        }
        .admit_details>table {
            width: 90%;
            margin: 0 auto;
        }
        .admit_details>table td th {
            max-width: 200px;
        }
        .admit_details>table,.admit_details>table th,.admit_details>table td {
            padding: 9px 5px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        .admit_papers_details>table {
            width: 90%;
            margin: 0 auto;
        }
        .admit_papers_details>table td th {
            max-width: 200px;
        }
        .admit_papers_details>table,.admit_papers_details>table th,.admit_papers_details>table td {
            padding: 9px 5px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        .admit_notes {
            width: 90%;
            margin: 0 auto;
            border: 1px solid #000;
            font-size: 11px;
        }
        .admit_footer {
            width: 90%;
            margin: 0 auto;
            border: 1px solid #000;
        }
        .main {
            display: flex;
            justify-content: space-between;
        }
        .column1 h4 {
            margin-left: 18px;
            text-align: center;
            padding-top: 60px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            border: 1px solid black;;
        }
        .column2 h4 {
            margin-right: 18px;
            text-align: center;
            padding-top: 60px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            border: 1px solid black;;
        }

        @page {
    size: A4;
    margin: 0;
  }
  
    @media print {
        .heading,#sidebar,.header,.header_container {
            display: none ;
        
        }
        
.page_data {
    display: block;
    min-height: 29.7cm;
}
#main-content {
    margin-left: 0px !important;
}
.wrapper {
    margin-top: 0px !important;
    padding: 0px;
    

}
.page {
        min-height: 29.7cm;
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
    }

        body {
              overflow-y: hidden;    
        }
        .main {
            display: flex;
            justify-content: space-between;
        }
        .column1 h4 {
            max-width: 90mm;
            margin-left: 17px;
            text-align: center;
            padding-top: 50px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 6px;
            border: 1px solid black;;
        }
        .column2 h4 {
            max-width: 100mm;
            margin-right: 17px;
            text-align: center;
            padding-top: 50px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 6px;
            border: 1px solid black;;
        }
    }
        </style>