<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans 
                http://www.springframework.org/schema/beans/spring-beans.xsd">
 
        
     <bean id="saveAccount" class="com.marticus.SavingsAccount" /> 
     <bean id="currAccount" class="com.marticus.CurrentAcount" />
     
     
        
      
     <bean id="account" class="com.marticus.AccountAc" scope="prototype" >
     	   <property name="ac" ref="SaveAccount" />     	   
     </bean>      
      
</beans>